- name: Deploy configuration files
  become: true
  copy:
    src: "{{ item }}"
    dest: "/{{ item }}"
    owner: root
    group: root
    mode: "0644"
  notify: restart_nginx
  with_items:
    - etc/nginx/nginx.conf
    - etc/nginx/sites-available/default
- name: Change access.log permission
  become: true
  file:
    path: /var/log/nginx/access.log
    mode: 0644
